.panel {
  border: 1px solid #e4e7e9;
  border-radius: 5px;
  padding: 50px;
  text-align: center;
}

.panel-title {
  font-weight: normal;
  margin-bottom: 10px;
}

.panel-body {
  color: #9a9a9e;
}

.panel p + p {
  margin-top: 25px;
}
